
.grotte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.grotte img {
    width: 80%;
    height: 100%;
    object-position: center;
    filter: brightness(0.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.overlay:hover {
    background-color: rgba(255, 255, 255, 0.01);
}