
.grotte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background: url("../img/grotte.png");
    background-size: auto 180%;
    background-position: center;
    background-repeat: no-repeat;
}

.grotte img {
    width: 80%;
    height: 100%;
    object-position: center;
    pointer-events: none;
}


.mask {
    width: 100vw;
    height: 100vh;
    background-color: hsla(0,0%,0%, 0.9);
    mask: radial-gradient(
            circle at var(--mouse-x) var(--mouse-y),
            transparent 40px,
            black 150px
    );
    -webkit-mask: radial-gradient(
            circle at var(--mouse-x) var(--mouse-y),
            transparent 40px,
            black 150px
    );
}