<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="caixa__login">
        <h2>Connection</h2>
        <form>
            <div class="caixa__login-input">
                <input type="text" required />
                <label>User</label>
            </div>
            <div class="caixa__login-input">
                <input type="password" required />
                <label>password</label>
            </div>
            <a href="/conection.html">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                continue
            </a>
        </form>
    </div>
    <a class="bnt-cher" href=""></a>
</body>

<script src="main.js"></script>
</html>