<body>

<div class="footer">
    <div class="container">
        <div class="logo">
            <img src="src/img/medusa.png" alt="logo-medusa">
        </div>
        <div class="left_bar">
            <a href="">Confidentialité </a>
            <a href="">Mentions Légales </a>
            <a href=""> Conditions Générales d'Utilisation</a>
            <a href="">Medusa : plateforme d’apprentissage dédiée du Hacking © 2023</a>
        </div>
        <span class="footer_sep">.</span>
    </div>
</div>

</body>