<body>
    <div class="sidebar">
        <div class="sidebar_logo">
            <img src="src/img/medusa.png" alt="logo-medusa">
        </div>
        <div class="sidebar_menu">
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="cours.html">Cours</a></li>
                <li><a href="exercices.html">Exercices</a></li>
                <li><a href="forum.html">Forum</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="sidebar_social">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</body>